.screen-keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 150px;
    border-radius: 10px;
}

.input-numbers{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid black ;
    height: 50px;
    width: 50%;

}
